# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Environment variables
.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
pylint-report.txt
pylint-output.txt

# pyenv
.python-version

# pipenv
Pipfile.lock

# pyright
pyrightconfig.json

# macOS and Linux
.DS_Store
Thumbs.db
